server:
    port: 6815
spring:
    application:
        name: thesis-management
    datasource:
        type: com.zaxxer.hikari.HikariDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/thesis_mgmt?serverTimezone=GMT%2B8&useSSL=false&characterEncoding=utf-8
        username: root
        password: 12345678
    jackson:
        date-format: yyyy-MM-dd HH:mm:ss
        time-zone: GMT+8
mybatis-plus:
    configuration:
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl # 查看日志
